<a href="https://colab.research.google.com/github/raimandabishek/Machine-learning/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

EDA

In [1]:
import pandas as pd
import numpy as np

# Creating a sample DataFrame with missing values
data = {
    'School ID': [101, 102, 103, np.nan, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Henry'],
    'Address': ['123 Main St', '456 Oak Ave', '789 Pine Ln', '101 Elm St', np.nan, '222 Maple Rd', '444 Cedar Blvd', '555 Birch Dr'],
    'City': ['Los Angeles', 'New York', 'Houston', 'Los Angeles', 'Miami', np.nan, 'Houston', 'New York'],
    'Subject': ['Math', 'English', 'Science', 'Math', 'History', 'Math', 'Science', 'English'],
    'Marks': [85, 92, 78, 89, np.nan, 95, 80, 88],
    'Rank': [2, 1, 4, 3, 8, 1, 5, 3],
    'Grade': ['B', 'A', 'C', 'B', 'D', 'A', 'C', 'B']
}

df = pd.DataFrame(data)
print("Sample DataFrame:")

print(df)

Sample DataFrame:
   School ID     Name         Address         City  Subject  Marks  Rank Grade
0      101.0    Alice     123 Main St  Los Angeles     Math   85.0     2     B
1      102.0      Bob     456 Oak Ave     New York  English   92.0     1     A
2      103.0  Charlie     789 Pine Ln      Houston  Science   78.0     4     C
3        NaN    David      101 Elm St  Los Angeles     Math   89.0     3     B
4      105.0      Eva             NaN        Miami  History    NaN     8     D
5      106.0    Frank    222 Maple Rd          NaN     Math   95.0     1     A
6      107.0    Grace  444 Cedar Blvd      Houston  Science   80.0     5     C
7      108.0    Henry    555 Birch Dr     New York  English   88.0     3     B

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   School ID  7 non-null      float64
 1   Name       8 non-null      object
 2   Address    7 non-null      object
 3   City       7 non-null      object
 4   Subject    8 non-null      object
 5   Marks      7 non-null      float64
 6   Rank       8 non-null      int64
 7   Grade      8 non-null      object
dtypes: float64(2), int64(1), object(5)
memory usage: 644.0+ bytes

In [5]:
df.isnull().sum()

School ID    1
Name         0
Address      1
City         1
Subject      0
Marks        1
Rank         0
Grade        0
dtype: int64

In [6]:
df.notnull()

   School ID  Name  Address   City  Subject  Marks  Rank  Grade
0       True  True     True   True     True   True  True   True
1       True  True     True   True     True   True  True   True
2       True  True     True   True     True   True  True   True
3      False  True     True   True     True   True  True   True
4       True  True    False   True     True  False  True   True
5       True  True     True  False     True   True  True   True
6       True  True     True   True     True   True  True   True
7       True  True     True   True     True   True  True   True

In [9]:
df.describe()

        School ID      Marks      Rank
count    7.000000   7.000000  8.000000
mean   104.571429  86.714286  3.375000
std      2.636737   6.156684  2.326094
min    101.000000  78.000000  1.000000
25%    102.500000  82.500000  1.750000
50%    105.000000  88.000000  3.000000
75%    106.500000  90.500000  4.250000
max    108.000000  95.000000  8.000000

In [11]:
df

   School ID     Name         Address         City  Subject  Marks  Rank Grade
0      101.0    Alice     123 Main St  Los Angeles     Math   85.0     2     B
1      102.0      Bob     456 Oak Ave     New York  English   92.0     1     A
2      103.0  Charlie     789 Pine Ln      Houston  Science   78.0     4     C
3        NaN    David      101 Elm St  Los Angeles     Math   89.0     3     B
4      105.0      Eva             NaN        Miami  History    NaN     8     D
5      106.0    Frank    222 Maple Rd          NaN     Math   95.0     1     A
6      107.0    Grace  444 Cedar Blvd      Houston  Science   80.0     5     C
7      108.0    Henry    555 Birch Dr     New York  English   88.0     3     B

In [20]:
mean_imputation = df['Marks'].fillna(df['Marks'].mean())

In [21]:
mean_imputation

0    85.000000
1    92.000000
2    78.000000
3    89.000000
4    86.714286
5    95.000000
6    80.000000
7    88.000000
Name: Marks, dtype: float64

In [25]:
df['Address'] = df['Address'].fillna('Unknown')
display(df)

   School ID     Name         Address         City  Subject  Marks  Rank Grade
0      101.0    Alice     123 Main St  Los Angeles     Math   85.0     2     B
1      102.0      Bob     456 Oak Ave     New York  English   92.0     1     A
2      103.0  Charlie     789 Pine Ln      Houston  Science   78.0     4     C
3        NaN    David      101 Elm St  Los Angeles     Math   89.0     3     B
4      105.0      Eva         Unknown        Miami  History    NaN     8     D
5      106.0    Frank    222 Maple Rd          NaN     Math   95.0     1     A
6      107.0    Grace  444 Cedar Blvd      Houston  Science   80.0     5     C
7      108.0    Henry    555 Birch Dr     New York  English   88.0     3     B

In [27]:
mean_imputation1 = df['Marks'].fillna(df['Marks'].mean())

In [28]:
mean_imputation1

0    85.000000
1    92.000000
2    78.000000
3    89.000000
4    86.714286
5    95.000000
6    80.000000
7    88.000000
Name: Marks, dtype: float64

In [29]:
forward_fill = df['Marks'].fillna(method='ffill')

/tmp/ipython-input-29-1235889012.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  forward_fill = df['Marks'].fillna(method='ffill')

In [30]:
forward_fill

0    85.0
1    92.0
2    78.0
3    89.0
4    89.0
5    95.0
6    80.0
7    88.0
Name: Marks, dtype: float64

In [31]:
backward_fill = df['Marks'].fillna(method='bfill')

In [32]:
backward_fill

0    85.0
1    92.0
2    78.0
3    89.0
4    95.0
5    95.0
6    80.0
7    88.0
Name: Marks, dtype: float64

Label Encoding in Python

In [33]:
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder()
df['Grade']= label_encoder.fit_transform(df['Grade'])

df['Grade'].unique()

array([1, 0, 2, 3])

In [34]:
label_encoder

LabelEncoder()

In [35]:
df

,School ID,Name,Address,City,Subject,Marks,Rank,Grade
0,101.0,Alice,123 Main St,Los Angeles,Math,85.0,2,1
1,102.0,Bob,456 Oak Ave,New York,English,92.0,1,0
2,103.0,Charlie,789 Pine Ln,Houston,Science,78.0,4,2
3,NaN,David,101 Elm St,Los Angeles,Math,89.0,3,1
4,105.0,Eva,Unknown,Miami,History,NaN,8,3
5,106.0,Frank,222 Maple Rd,NaN,Math,95.0,1,0
6,107.0,Grace,444 Cedar Blvd,Houston,Science,80.0,5,2
7,108.0,Henry,555 Birch Dr,New York,English,88.0,3,1

In [36]:
# prompt: i can do one hot encoding in string values
# \

# one-hot encode the 'Subject' column
one_hot_encoded_data = pd.get_dummies(df, columns = ['Subject','City','Address','Name'])

one_hot_encoded_data

,School ID,Marks,Rank,Grade,Subject_English,Subject_History,Subject_Math,Subject_Science,City_Houston,City_Los Angeles,...,Address_789 Pine Ln,Address_Unknown,Name_Alice,Name_Bob,Name_Charlie,Name_David,Name_Eva,Name_Frank,Name_Grace,Name_Henry
0,101.0,85.0,2,1,False,False,True,False,False,True,...,False,False,True,False,False,False,False,False,False,False
1,102.0,92.0,1,0,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,103.0,78.0,4,2,False,False,False,True,True,False,...,True,False,False,False,True,False,False,False,False,False
3,NaN,89.0,3,1,False,False,True,False,False,True,...,False,False,False,False,False,True,False,False,False,False
4,105.0,NaN,8,3,False,True,False,False,False,False,...,False,True,False,False,False,False,True,False,False,False
5,106.0,95.0,1,0,False,False,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
6,107.0,80.0,5,2,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,True,False
7,108.0,88.0,3,1,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True